/* HEADER GENERAL */
.header {
    width: 100%;
    background: #ffffff;
    border-bottom: 1px solid #eaeaea;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

/* CONTENEDOR */
.header-container {
    max-width: 1400px;
    margin: 0 auto;
    padding: 15px 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo img {
    height: 55px;
    object-fit: contain;
}

/* MENÚ */
.nav-menu {
    display: flex;
    gap: 35px;
}

.nav-menu a {
    text-decoration: none;
    font-size: 15px;
    font-weight: 300;
    color: #333;
    transition: color 0.3s ease;
}

.nav-menu a:hover {
    color: #F57C00; /* Naranja LA GAVIOTA */
}

/* ICONOS */
.header-icons {
    display: flex;
    gap: 20px;
    font-size: 20px;
    cursor: pointer;
}

.header-icons .icon:hover {
    color: #F57C00;
}
